{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container py-5">
  <h2><i class="bi bi-cart"></i> {% trans "Shopping Cart" %}</h2>
  <table class="table">
    <thead>
      <tr>
        <th>{% trans "Product" %}</th>
        <th>{% trans "Price" %}</th>
        <th>{% trans "Quantity" %}</th>
        <th>{% trans "Unit Price" %}</th>
        <th>{% trans "Total" %}</th>
        <th>{% trans "Actions" %}</th>
      </tr>
    </thead>
    <tbody id="cart-table-body">
      <!-- cart.js will populate this section -->
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3">{% trans "Total" %}</th>
        <th id="cart-total">$0.00</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}
