{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card mb-5">
                <div class="card-header">
                    <h2>{% trans "My Profile" %}</h2>
                </div>
                <div class="card-body">
                    <div class="text-center mb-4">
                        {% if user.profile.image %}
                            <img src="{{ user.profile.image.url }}" alt="{{ user.username }}" class="rounded-circle" width="150">
                        {% else %}
                            <img src="{% static 'media/default_profile.png' %}" alt="{{ user.username }}" class="rounded-circle" width="150">
                        {% endif %}
                        <h3>@{{ user.username }}</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-2 mb-3">
                            <label for="">{% trans "Name:" %}</label>
                        </div>
                        <div class="col-12 col-lg-4 mb-3">
                            <input type="text" class="form-control" value="{{ user.first_name }}" readonly>
                        </div>
                        <div class="col-12 col-lg-2 mb-3">
                            <label for="">{% trans "Last name" %}</label>
                        </div>
                        <div class="col-12 col-lg-4 mb-3">
                            <input type="text" class="form-control" value="{{ user.last_name }}" readonly>
                        </div>
                        <div class="col-12 col-lg-2 mb-3">
                            <label for="">{% trans "Email:" %}</label>
                        </div>
                        <div class="col-12 col-lg-4 mb-3">
                            <input type="email" class="form-control" value="{{ user.email }}" readonly>
                        </div>
                        <div class="col-12 col-lg-2 mb-3">
                            <label for="">{% trans "Phone Number:" %}</label>
                        </div>
                        <div class="col-12 col-lg-4 mb-3">
                            <input type="text" class="form-control" value="{{ user.profile.phone }}" readonly>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <a href="{% url 'profile_edit' %}" class="btn btn-light">
                            <i class="fas fa-edit"></i> {% trans "Edit Profile" %}
                        </a>
                        <a href="{% url 'logout' %}" class="btn btn-danger">
                            <i class="fas fa-sign-out-alt"></i> {% trans "Logout" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-12">
            <h2>{% trans "My orders" %}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans "Order ID" %}</th>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Total" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.created_at|date:"Y-m-d-h:m" }}</td>
                            <td>${{ order.total_cost }}</td>
                            <td>{{ order.status }}</td>
                            <td>
                                <a href="{% url 'order_detail' order.id %}" class="btn btn-primary btn-sm">
                                    {% trans "View" %}
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">{% trans "No orders found." %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}