{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SUPLEMNT</title>
  <link rel="icon" href="{% static 'media/suplemnt_logo.png' %}">
  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
  <!-- CSS propio -->
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="{% url 'home' %}">SUPLEMNT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto ms-lg-4">
          <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Shop</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'product_index' %}">All Products</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'latest' %}">New Arrivals</a></li>
            </ul>
          </li>
        </ul>

        {% if user.is_authenticated %}
          <a class="btn btn-outline-dark me-3" href="{% url 'profile' %}">My Profile</a>
        {% else %}
          <a class="btn btn-outline-dark me-3" href="{% url 'login' %}">Login</a>
        {% endif %}

        <a href="{% url 'cart_view' %}" class="btn btn-outline-dark">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span id="cart-badge" class="badge bg-dark text-white ms-1 rounded-pill">0</span>
        </a>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}

  <!-- FOOTER -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">© SUPLEMNT</p>
    </div>
  </footer>

  <!-- SCRIPTS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="{% static 'js/cart.js' %}"></script>
</body>
</html>

