{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Fuel Your Performance.</h1>
            <p class="lead fw-normal text-white-50 mb-0">Elevate Your Life.</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
            {% for supplement in supplements %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    {% if supplement.discount_price %}
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale
                    </div>
                    {% endif %}
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ supplement.image.url }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ supplement.name }}</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star"></div>
                                <p>{{ supplement.average_rating }}</p>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">
                                {% if supplement.discount_price %}
                                ${{ supplement.price }}
                                {% endif %}
                            </span>
                            <span class="fw-bolder">
                                {% if supplement.discount_price %}
                                ${{ supplement.discount_price }}
                                {% else %}
                                ${{ supplement.price }}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center mb-4">
                            <a href="{% url 'product_detail' supplement.slug %}" class="btn btn-outline-dark">View</a>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-dark add-to-cart"
                                    data-id="{{ supplement.id }}"
                                    data-name="{{ supplement.name }}"
                                    data-price="{{ supplement.discount_price|default:supplement.price }}">
                                <i class="bi bi-cart-plus"></i> Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}