{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container py-5 text-center">
  <div class="row text-center">
    <div class="col-12 my-5">
      <h2>{% trans "¡Gracias por tu pedido!" %}</h2>
    </div>
    <div class="col-12 my-5">
      <p>{% trans "Your order number is " %} <strong>#000{{ order.id }}</strong>.</p>
    </div>
    <div class="col-12 my-5">
        <a href="{% url 'home' %}" class="btn btn-success">{% trans "Volver al inicio" %}</a>
    </div>
  </div>
</div>
<script src="{% static 'js/order_success.js' %}"></script>
{% endblock %}
